html {
	margin: 0;
	padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
#board{
	background: #FFFFFF;
	width: 800px;
	height: 500px;
	position: absolute;
}
#topbar {
	font-family: Arial, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: normal;
	height: 40px;
	width:680px;
	position: absolute;
	left: 120px;
	margin: auto;
	padding: 0px 5px 0px 0px;
	background: #A8CEE2;
	opacity: 1.00;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#profile{
	display: block;
	background: #FFFFFF;
	opacity: 1.00;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	width: 30px; height: 30px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	border-radius: 15px; 
	position: absolute;
	text-align: center;
	left: 580px;
	top: 5px; 
}
#profile img{
	margin-top:5px;
	margin-right:2.5px; 

}

#user p{
	float: right;
	color: #F2F2F2;
}

#sidebar {
	font-family: Arial, "Times New Roman", Times, serif;
	font-weight: normal;
	height: 500px;
	width:120px;
	position: absolute;
	background: #4F4F4F;
	opacity: 1.00;
	box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);

}
#sidebar p{
	font-size: 18px;
	color: #F2F2F2;
	text-align: center;
}

#sidebar ul li img{
	position: absolute;
	left: 20px;
}
#sidebar ul li p{
	font-size: 11px;
	color: #F2F2F2;
}

#robot {
	font-family: Arial, "Times New Roman", Times, serif;
	font-size: 1em;
	font-weight: normal;
	height: 300px;
	width:500px;
	position: absolute;
	left:200px;
	top:100px;
	margin: 0;
	margin-bottom: 1em;
	background: #F2F2F2;
	opacity: 1.00;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

}