.selectedCourse {
  -moz-box-shadow: inset 0 0 3px #b2b2b2;
  -webkit-box-shadow: inset 0 0 3px #b2b2b2;
  box-shadow: inset 0 0 3px #b2b2b2;
  background-color: #eff9ff;
  margin-top: 20px;
  padding: 10px;
}

.courseName {
  font-size: 18px;
  font-weight: bolder;
}

.penImg,
.trashImg {
  height: 24px;
}

.courseControlGroup {
  height: 50px;
  margin: -10px;
  padding-right: 10px;
}

.courseControl {
  float: right;
}
