
.root {
  float: right;
  margin: 6px 0 0;
  position: relative;
}

.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
}

.link,
.link:active,
.link:visited {
  color: #afafaf;
}

.link:hover {
  color: #afafaf;
}

/*.logInButton{
  float: right;
}*/

.spacer {
  color: rgba(255, 255, 255, 0.3);
}
