.root {
  display: flex;
  float: right;
  margin: 6px 0 0;
}

.link {
  display: inline;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
}

.link,
.link:active,
.link:visited {
  color: #afafaf;
}

.link:hover {
  color: #afafaf;
}

.logInButton {
  display: inline;
  top: 1px;
  left: 100px;
  position: absolute;
}

.signUpButton {
  display: inline;
  top: 1px;
  left: 200px;
  position: absolute;
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}

