.signUpPage {
  border-radius: 3px;
}

.banner {
  background-color: rgb(100, 181, 246);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: -24px -24px 10px -24px;
  padding: 10px;
}

.bannerTitle,
.bannerSubtitle {
  text-align: center;
}

.bannerTitle {
  color: white;
  font-size: 36px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.bannerSubtitle {
  color: #f5f5f5;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

h3.promptTitle {
  margin-bottom: 5px;
}

.editSchoolButton {
  float: right;
  margin-top: -8px;
}

.actionButton {
  margin: 0 16px 16px 0;
}
