.signUpPage {
  border-radius: 3px;
}

.banner {
  background-color: rgb(100, 181, 246);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: -24px -24px 10px -24px;
  padding: 10px;
}

.bannerTitle,
.bannerSubtitle {
  text-align: center;
}

.bannerTitle {
  color: white;
  font-size: 36px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.bannerSubtitle {
  color: #f5f5f5;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

h3.promptTitle {
  margin-bottom: 5px;
}

.editSchoolButton {
  float: right;
  margin-top: -8px;
}

.actionButton {
  margin: 0 16px 16px 0;
}

.leftButton {
  float: left;
  margin: 0 0 16px 16px;
}

.courseList {
  max-height: 350px;
  overflow-y: scroll;
  width: 100%;
}

.courseSummary {
  float: left;
  max-height: 400px;
  overflow-y: scroll;
  width: 54%;
}

.courseSummaryCard {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 5px;
  padding: 10px;
}

.courseSummaryTitle {
  font-size: 18px;
  font-weight: bolder;
}

.profile {
  float: right;
  width: 43%;
}

span.error {
  color: #e55a5d;
}

.joinTypeImage {
  height: 24px;
  margin-right: 5px;
}
