.signUpPage {
  border-radius: 3px;
}

.banner {
  background-color: rgb(100, 181, 246);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: -24px -24px 10px -24px;
  padding: 10px;
}

.bannerTitle,
.bannerSubtitle {
  text-align: center;
}

.bannerTitle {
  color: white;
  font-size: 36px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.bannerSubtitle {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

h3.promptTitle {
  margin-bottom: 5px;
}

.editSchoolButton {
  position: fixed;
  right: 24px;
  top: 100px;
}

.actionButton {
  margin: 0 16px 16px 0;
}

.leftButton {
  float: left;
  margin: 0 0 16px 16px;
}
