.dialogView {
  height: 380px;
  overflow-y: scroll;
  padding: 5px;
}

.botMessage {
  padding: 5px;
  text-align: left;
}

.userMessage {
  padding: 5px;
  text-align: right;
}

.taMessage {
  padding: 5px;
  text-align: left;
}

.messageBubble {
  border-radius: 16px;
  display: inline-block;
  max-width: 500px;
  padding: 5px 10px;
}

.botMessage .messageBubble {
  background-color: #c1c1c1;
  cursor: pointer;
}

.userMessage .messageBubble {
  background-color: #a8cee2;
  color: white;
}

.taMessage .messageBubble {
  background-color: rgb(0, 188, 212);
  color: white;
  pointer-events: none;
}

.textField {
  height: 100px;
  overflow-y: hidden;
  padding-left: 20px;
  text-align: left;
}

.sendButton {
  float: right;
  margin: 20px;
}

.questionView {
  padding: 20px;
  width: 100%;
}

.headerRow {
  background-color: #bdbdbd;
  height: 40px;
  width: 100%;
}

.evenRow {
  display: inline-table;
  height: 30px;
  width: 100%;
}

.oddRow {
  background-color: #f2f2f2;
  display: inline-table;
  height: 30px;
  width: 100%;
}

.questionColumn {
  float: left;
  margin-left: 10px;
  padding-right: 10px;
  text-align: left;
  width: 60%;
}

.studentNameColumn {
  float: left;
  padding-right: 10px;
  text-align: left;
  width: 25%;
}

.dateColumn {
  float: left;
  text-align: left;
}

.headerRow .questionColumn,
.headerRow .studentNameColumn,
.headerRow .dateColumn {
  font-weight: bold;
  margin-top: 10px;
}

.robotImg {
  height: 300px;
  margin-top: 70px;
}

.refreshButtonWithQuestions {
  right: 2px;
  top: -8px;
}

.refreshButtonWithNoQuestions {
  float: right;
  right: 10px;
}

.refreshImg {
  height: 30px;
}

.defaultMsg {
  color: rgb(0, 188, 212);
  font-weight: 600;
  padding: 20px 70px;
}
